name = "ssh-keygen.target"
wants = "ssh-keygen-ecdsa.service, ssh-keygen-ed25519.service, ssh-keygen-rsa.service"
after = "ssh-keygen-ecdsa.service, ssh-keygen-ed25519.service, ssh-keygen-rsa.service"
before = "sshd.service"